# .editorconfig file
root = true

# Shell formatting. Utilized by IDEs and shfmt tool
[*.sh]
# shfmt-specific options
## This fixes an issue with bash scripts being parsed as POSIX scripts
shell_variant      = bash # like -ln=bash

[*.md]
trim_trailing_whitespace = false

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true


# Uncomment and update for directories to ignore
# # Ignore the entire "third_party" directory.
# [third_party/**]
# ignore = true
